/* TUDO */
@font-face {
    font-family: Ballo2;
    src: url(../../assets/font/Baloo2-ExtraBold.ttf)
}
*{
    font-family: 'Ballo2';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content{
    margin-top: 80px;
    height: calc(100vh - 80px);
    width: 90vw;
}
/* TUDO */
/* COMEÇO HEADER */
.header{
    background-color: #FFE5E5;
    height: 100vh;
    width: 100vw;
}
.main-header{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.blur-nav{
    width: 69.8vw;
    height: 72px;
    position: fixed;
    background-color: #ffe5e570;
    border-radius: 0px 0px 30px 30px;
    filter: blur(3px);
}
.main-nav{
    width: 70vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    background: #ffe5e5f3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
    z-index: 100;
}
.main-nav a{
    text-decoration: none;
    color: #0383C4;
    font-style: bold;
    font-size: 25px;
    align-self: center;
}
.main-nav a:hover{
    color: #4C3CB4;
}
.page-progress{
    position: fixed;
    left: 0%;
    z-index: 1001;
}
.home-principal{
    margin-top: 80px;
    display: flex;
    height: calc(100vh - 80px);
    width: 100vw;
    justify-content: space-around;
    background-image: url(../../assets/img/cerebro.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 5%;
    width: 35%;
    z-index: 1;
}
.texto-home-section{
    color: #0383C4;
    text-align: center;
    font-size: 	1.125em;
    width: 80%;
}
.botao-jogar-home{
    background-color: #4C3CB4;
    width: 60%;
    display: flex;
    align-items: center;
    color: #FFF1F1;
    justify-content: center;
    border-radius: 100px 100px;
    height: 10%;
}
.botao-jogar-home p{
    font-size: 33px;
    text-decoration: bold;
    padding-left: 3%;
}
.botao-jogar-home img{
    height: 33px;
}
/* FINAL HEADER */
/* COMEÇO COMO JOGAR */
.como-jogar{
    background-color: #FFFDFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-comojogar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.title-comojogar h2{
    font-size: 30px;
    color: #4C3CB4;
}
.title-comojogar hr{
    width: 100%;
    border: none;
    height: 5px;
    background: #4C3CB4;
}
.comojogar-section{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comojogar-section ul{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-around;
}
.comojogar-section > ul > li{
    font-size: 20px;
    color: #4B4860;
}
.botao-jogar-comojogar{
    background-color: #4C3CB4;
    width: 30%;
    display: flex;
    align-items: center;
    color: #FFF1F1;
    justify-content: center;
    border-radius: 100px 100px;
    height: 8%;
}
.botao-jogar-comojogar p{
    font-size: 33px;
    text-decoration: bold;
    padding-left: 3%;
}
.botao-jogar-comojogar img{
    height: 33px;
}
/* FINAL COMO JOGAR */
/* COMEÇO SOBRE */
.sobre{
    background-color: #4C3CB4;
}
/* FINAL SOBRE */
/* COMEÇO COLLETIVO */
.colletivo{
    background-color: #FFFDFD;
}
/* FINAL COLLETIVO */
/* COMEÇO RODAPE */
.rodape{
    background-color: #4C3CB4;
}
/* FINAL RODAPE */