@media only screen and (max-width:425px) and (orientation: portrait){
    
    .content{
        width: 95%;
        padding: 2em 0;
    }

    .container{
        margin-top: 0;
    }

    /* HEADER */
    .main-header{
        height: 100vh;
    }


    .main-nav{
        width: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        height: 55px;
        position: absolute;
    }
    .blur-nav{
        display: none;
    }
    .main-nav a{
        font-size: 1em;
    }
    .home-principal{
        height: 100%;
        width: 100% !important;
        margin-top: 10%;
        background-position: left bottom;
        background-size: 55%;
    }
    .home-content{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: 100%;
    }

    .home-section{
        margin-top: 3.5em;
    }

    .logo{
        /* margin:1.5em; */
        width: 75%;
    }
    .texto-home-section{
        font-size: 0.90em;
    }
    .botao-jogar-home{
        width: unset;
        padding: 0.25em 2.5em;
    }
    .botao-jogar-home p{
        font-size: 1.3em;
    }
    .botao-jogar-home img{
        width: 1.3em;
        height: 1.3em;
    }

    /* COMO JOGAR */

    .title-comojogar{
        width: 90%;
        font-size: 0.9em;
    }

    .como-jogar{
        height: unset;
    }

    .comojogar-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 80%;
        width: 100%;
    }
    
    .comojogar-section ul{
        width: 90%;
        margin: auto;
    }

    .comojogar-section ul li{
        font-size: 1em;
        padding: 0.25em 0;
    }

    .memorize-jogo{
        margin: 1em 0 0em -5.7%;
        width: 17.5em;
        height: 17.5em; 
        margin-left: -5.7%; 
    }

    .botao-jogar-comojogar{
        width: 90%;
        font-size: 1em;
        
    }

    /* SOBRE */
    #sobre-title{
        font-size: 2em;
    }

    .sobre{
        height: unset;
    }

    .center-line{
        display: none;
    }

    .titulo-e-texto{
        flex-flow: column nowrap;
        width: 95%;
        margin: auto;
    }

    .titulo-e-texto p, .titulo-e-texto h2{
        width: 100%;
    }

    .titulo-e-texto h2{
        padding: 0.25em;
        margin-bottom: 0.5em;
        font-size: 2em;
    }

    /* .titulo-e-texto::after{
        content: "";
        display: block;
        width: 90%;
        height: 3px;
        background-color: #fff;
        margin-bottom: 1em;
    } */

    /* COLLETIVO */
    .colletivo{
        height: unset;
        margin-bottom:3em;
    }

    .colletivo-content{
        padding-top: 2em;
    }

    footer{
        z-index: 1000;
    }

    .colletivo-banner img{
        height: 4em;
    }

    .colletivo-content{
        width: 95%;
        height: unset;
    }

    .colletivo-content::before{
        height: 7px;
    }

    .colletivo-informacao{
        margin-top: -2em;
        flex-flow: column nowrap;
        height: unset;
    }

    .colletivo-informacao p{
        width: 90%;
    }

    .btn-colletivo{
        width: 70%;
        position: relative;
        bottom: 0em;
        margin: unset;
        font-size: 1.5em;
    }

    .wavy-footer{
        /* margin-top: -0.5em; */
    }

    /* FOOTER */
    .footer-content{
        width: 100%;
    }

    .copyright{
        font-size: 1em;
    }

    .copyright::before{
        height: 4px;
        margin-top: 1empx;
    }

}


@media (max-width: 800px) and (orientation: landscape){
    .container{
        display: none;
    }
    .footer-content{
        display: none;
    }
    .wavy-footer{
        display: none;
    }
    .device-rotation{
        display: block;
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow-y: hidden;
        justify-content: center;
        padding: 10%;
        font-size: 100%;
        text-align: center;
    }
}