/* CONTAINER GERAL */
.game-content{
    height: unset;
    width: 92.5%;
    margin: auto;
}
.Game{
    height: 100vh;
    background-color: #FFE5E5;
    /* padding: 1em; */
    width: 100%;

    background-image: url(../../assets/img/ilustracao-game2.png);

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}
/* FIM DO CONTAINER GERAL */

/* NAV */
.game-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    /* background-color: red; */
    margin-top: -1em;
    width: 95%;
    margin:auto;
}

.voltar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
    color: #959595;
    transition: 0.25s;

}

.voltar img{
    margin-right: 0.25em;
}


.nav-logo{
    height: 12.5vh;
    width: auto;
    margin-right: 2em;
}

.interrogacao{
    font-size: 5em;
    color: #959595;
    transition: 0.25s;
    cursor: pointer;
}

.voltar:hover, .interrogacao:hover{
    transform: scale(2em);
    filter: brightness(50%);
}


/* FIM DO NAV */

.main{
    height: auto;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.status-game{
    color: #4C3CB4;
    position: absolute;
    position: absolute;
    text-align: center;
    top: 70%;
    bottom: 7em;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    height: 5%;
}
.comojogar-ajuda-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}
.comojogar-ajuda-content > h2::after{
    content: "";
    display: block;
    width: 100%;
    margin-top:  0.25em;
    background-color: #fff;
    height: 0.2em;
}
/* PROGRESSO DE FASES */
    .Progresso{
        /* max-width: 7em; */
        /* margin-left: 2em; */
        max-width: unset;
        height: 70vh;
    }

    .fases{
        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: center;
        justify-content: space-between;
        /* width: 5em; */
        /* height: 60vh; */

    }

    .fase{
        clip-path: circle(50% at 50% 50%);
        background-color: #4C3CB4;
        width: 2em;
        height: 2em;
        margin: auto;

        /* padding: 0.5em; */

        overflow: hidden;
        cursor: pointer;
        /* align-items: center;
        justify-content: space-between; */
        display: flex;
        flex-flow: column;
    }

    /* .fase-group{
        height: calc(100% / 6);
    } */

    .linha-progresso{
        display: block;
        width: 6.5px;
        height: 2em;
        background-color: #4C3CB4;
        margin: auto;
        filter: brightness(80%);
    }

    .linha-bloqueada{
        background-color: #959595;
    }

    .seta-atual{
        position: relative;
        left: 20%;
        bottom: 50%;
    }

    .linha-atual{
        background-color: #949494;
    }

    .fase-atual{
    }

/* 
    .fase-atual::before{
        content: '';
        display: block;
        height: 5px;
        width: 5px;
        background-color: red;
    } */

    .fase-bloqueada{
        background-color: #959595;
        background-image: url(../../assets/icons/lock-icon.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        /* filter: saturate(0%); */
    }

    .fase-final{
        clip-path: circle(50% at 50% 50%);
        width: 4.5em;
        height: 4.5em;
        padding: 0.5em;

        background-image: url(../../assets/icons/trophy-icon.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;

        /* overflow: hidden;
        cursor: pointer; */
    }

    .fase-final-bloqueada{
        background-image: url(../../assets/icons/trophy-icon-locked.png);
    }


/* fim do progresso */

/* .grupo-principal{
    position: absolute;
    margin: auto;
    left: calc(50% - 9em);
    width: auto;
    padding: 5em;
} */


.botao-principal{
    background-color: #4C3CB4;
    width: 18em;
    height: 18em;
    padding: 2.5em;
    margin: auto;

    display : flex;
    margin: auto;
    margin-top: 2em;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    clip-path: circle(50% at 50% 50%);
    transform: rotate(45deg);

    -webkit-box-shadow:  0px 0px 10px 7px #000000;
    -moz-box-shadow:  0px 0px 10px 7px #000000;
    -ms-box-shadow:  0px 0px 10px 7px #000000;
    -o-box-shadow:  0px 0px 10px 7px #000000;
    box-shadow:  0px 0px 10px 7px #000000; 

    cursor: none;

    position: absolute !important;
    left: calc(50% - 9em);
    bottom: calc(50% - 9em)
    /* left: -2.5em; */
    /* left: 50%; */
}
 
.botao-cor{
    height: 45%;
    width: 45%;
    clip-path: circle(50% at 50% 50%);
    /* display: none; */

    box-shadow: 10px 4px 26px #000;
    transition: 0.2s;

}


.amarelo{
    background-color: #FFD166;
}

.azul{
    background-color: #118AB2;

}

.verde{
    background-color: #06D6A0;

}

.vermelho{
    background-color: #EF476F;
}

.reiniciar-icon{
    height: 80%;
    cursor: pointer;
    opacity: 50%;
    transition: 0.3s;
}

.reiniciar-icon:hover{
    /* height: 75%; */
    transform:  rotate(180deg);
    opacity: 100%;

}

.destaque{
    transform: scale(5%); 
    /* filter: brightness(150%); */
    transition: 0.2s;

    box-shadow: 1px 4px 10px darkcyan;
}

.imagem-erro{
    margin: auto;
    max-height: 25vh;
    margin-top: 1.5em;
}

.titulo-erro{
    color: #ff3333;
    font-size: 2em;
}

.titulo-acerto{
    color: #06D6A0;
    font-size: 2em;
}

.frase-fase{
    text-align: center;
    color: #06D6A0;
}

.avancar-fase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em 0%;
    background-color: #06D6A0;
    color: #444;
    font-size: 1.25em;
    margin-top: 1em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    border-radius: 5px;
}

.avancar-fase:hover, .recomecar-fase:hover {
    filter: brightness(125%);
    font-family: "Baloo 2 Medium";
}

.avancar-fase img{
    transform: rotate(180deg);
    filter: brightness(50%);
    height: 0.75em;
    margin-left: 0.5em;
}

.recomecar-fase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em 0%;
    background-color: #EF476F;
    color: #fff;
    font-size: 1.25em;
    margin-top: 1em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    border-radius: 5px;
}

.recomecar-fase img{
    transform: rotate(180deg);
    filter: brightness(200%);
    height: 0.75em;
    margin-left: 0.5em;
}

.modal-smaller-text{
    font-size: 1em;
    color: #676;
}

.modal-smaller-error-text{
    font-size: 1em;
    color: #ccc;
}

.imagem-acerto{
    margin-top: 1.5em;
}


@media only screen and (min-width:1920px){
    
    *{
        overflow-x: hidden;
    }
    nav{
        position: relative;
        top: 0%;
        
    }
    .voltar{
        font-size: 3em;
    }
    .voltar img{
        width: 0.5em;
    }
    .interrogacao{
        font-size: 5em;
    }
    .nav-logo{
        width: 320px;
        height: 160px;
    }
    .botao-principal{
        padding: 4.5em;
        height: 550px;
        width: 550px;
        margin-top: 0;
        
        position: absolute;
        top: calc(50% - (550px / 2));
        left: calc(50% - (550px / 2));
    }
    .amarelo{
        height: 190px;
        width: 190px;
    }
    .azul{
        height: 190px;
        width: 190px;
    }
    .verde{
        height: 190px;
        width: 190px;
    }
    .vermelho{
        height: 190px;
        width: 190px;
    }
    .status-game{
        font-size: 2em;
        top: 80%;
    }
    .Progresso{
        position: absolute;
        left: 5%;
        top: 20%;
    }
    .comojogar-ajuda-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .comojogar-ajuda-content > h2{
        font-size: 3em;
    }
    .comojogar-ajuda-content > ul > li{
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 768px){
    .Game{
        background-image: url(../../assets/img/ilustracao-game-mobile.png);
        background-size: 120%;
        background-position-x: 0%;
    }
    .interrogacao{
        position: absolute;
        bottom: 0%;
        right: 3%;
        font-size: 130px;
    }
    .game-nav{
        margin-top: 1%;
    }
    .voltar{
        margin-left: 4%;
        
    }
    .voltar p{
        display: none;
        
    }
    /* .status-game{
        color: #4C3CB4;
        overflow-y: hidden;
        font-size: 1.5em;
        width: 100%;
        margin-top: -1%;
    } */
    .main{
        margin-top: 1em;
        flex-flow: column nowrap;
        align-items: center;
        height: 60%;
    }

    .fases{
        flex-flow: row;
    }

    .fase{
        height: 1.5em;
        width: 1.5em;
    }

    .fase-final{
        height: 3em;
        width: 3em;
    }

    .fase-group{
        display: flex;
        flex-flow: row-reverse;
    }

    .linha-progresso{
        height: 4px;
        width: 1.5em;
    }
    .status-game{
        color: #4C3CB4;
        overflow-y: hidden;
        font-size: 2em;
        width: unset;
        max-width: 100%;
        margin-top: -1%;
        text-align: center;
        word-wrap: break-word;
    }
}

@media only screen and (max-width:425px){
    
    .interrogacao{
        position: absolute;
        font-size: 75px !important;
    }
    .game-nav{
        margin-top: 1%;
    }
    .nav-logo{
        height: 10vh;
        width: auto;

    }
    .voltar{
        margin-left: 4%;
    }
    .voltar p{
        display: none;
        /* color: #FFE5E5; */
    }
    .botao-principal{
        height: 235px;
        width: 235px;
        margin-top: 0;
        
        position: absolute;
        top: calc(50% - (235px / 2));
        left: calc(50% - (235px / 2));

    }
    .amarelo{
        width: 70px;
        height: 70px;
    }
    .vermelho{
        width: 70px;
        height: 70px;
    }
    .azul{
        width: 70px;
        height: 70px;
    }
    .verde{
        width: 70px;
        height: 70px;
    }
    .Game{
        background-image: url(../../assets/img/ilustracao-game-mobile.png);
        background-size: 150%;
        overflow: hidden;
        background-position-x: 0%;
    }
    .game-content{
        width: 100%;
    }
    
    .main{
        margin-top: 1em;
        flex-flow: column nowrap;
        align-items: center;
        height: 85%;
    }

    .fases{
        flex-flow: row;
    }

    .fase{
        height: 1.5em;
        width: 1.5em;
    }

    .fase-final{
        height: 3em;
        width: 3em;
    }

    .fase-group{
        display: flex;
        flex-flow: row-reverse;
    }

    .linha-progresso{
        height: 4px;
        width: 1.5em;
    }
    .status-game{
        color: #4C3CB4;
        overflow-y: hidden;
        font-size: 1.25em !important;
        width: 100%;
        height: unset;
        min-height: 5em;
        /* margin-top: 0.25em; */
        word-wrap: break-word;
    }

    #fase-tooltip{
        display: none !important;
    }

    
}