@media only screen and (min-width:1920px){
    
    *{
        overflow-x: hidden;
    }
    nav{
        position: relative;
        top: 0%;
        
    }
    .voltar{
        font-size: 3em;
    }
    .voltar img{
        width: 0.5em;
    }
    .interrogacao{
        font-size: 5em;
    }
    .nav-logo{
        width: 320px;
        height: 160px;
    }
    .botao-principal{
        padding: 4.5em;
        height: 550px;
        width: 550px;
        margin-top: 0;
        
        position: absolute;
        top: calc(50% - (550px / 2));
        left: calc(50% - (550px / 2));
    }
    .amarelo{
        height: 190px;
        width: 190px;
    }
    .azul{
        height: 190px;
        width: 190px;
    }
    .verde{
        height: 190px;
        width: 190px;
    }
    .vermelho{
        height: 190px;
        width: 190px;
    }
    .status-game{
        font-size: 2em;
        top: 80%;
    }
    .Progresso{
        position: absolute;
        left: 5%;
        top: 20%;
    }
    .comojogar-ajuda-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .comojogar-ajuda-content > h2{
        font-size: 3em;
    }
    .comojogar-ajuda-content > ul > li{
        font-size: 1.8em;
    }
}