/* CONTAINER GERAL */
.game-content{
    height: unset;
    width: 92.5%;
    margin: auto;
}
.Game{
    height: 100vh;
    background-color: #FFE5E5;
    /* padding: 1em; */
    width: 100%;

    background-image: url(../../assets/img/ilustracao-game2.png);

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}
/* FIM DO CONTAINER GERAL */

/* NAV */
.game-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    /* background-color: red; */
    margin-top: -1em;
    width: 95%;
    margin:auto;
}

.voltar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
    color: #959595;
    transition: 0.25s;

}

.voltar img{
    margin-right: 0.25em;
}


.nav-logo{
    height: 12.5vh;
    width: auto;
    margin-right: 2em;
}

.interrogacao{
    border: none;
    font-size: 5em;
    color: #959595;
    transition: 0.25s;
    cursor: pointer;
}

.voltar:hover, .interrogacao:hover{
    transform: scale(2em);
    filter: brightness(50%);
}


/* FIM DO NAV */

.main{
    height: auto;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* PROGRESSO DE FASES */
    .Progresso{
        /* max-width: 7em; */
        /* margin-left: 2em; */
        max-width: unset;
        height: 70vh;
    }

    .fases{
        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: center;
        justify-content: space-between;
        /* width: 5em; */
        /* height: 60vh; */

    }

    .fase{
        clip-path: circle(50% at 50% 50%);
        background-color: #4C3CB4;
        width: 2em;
        height: 2em;
        margin: auto;

        /* padding: 0.5em; */

        overflow: hidden;
        cursor: pointer;
        /* align-items: center;
        justify-content: space-between; */
        display: flex;
        flex-flow: column;
    }

    /* .fase-group{
        height: calc(100% / 6);
    } */

    .linha-progresso{
        display: block;
        width: 6.5px;
        height: 2em;
        background-color: #4C3CB4;
        margin: auto;
        filter: brightness(80%);
    }

    .linha-bloqueada{
        background-color: #959595;
    }

    .seta-atual{
        position: relative;
        left: 20%;
        bottom: 50%;
    }

    .linha-atual{
        background-color: #949494;
    }

    .fase-atual{
    }

/* 
    .fase-atual::before{
        content: "";
        display: block;
        height: 5px;
        width: 5px;
        background-color: red;
    } */

    .fase-bloqueada{
        background-color: #959595;
        background-image: url(../../assets/icons/lock-icon.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        /* filter: saturate(0%); */
    }

    .fase-final{
        clip-path: circle(50% at 50% 50%);
        width: 4.5em;
        height: 4.5em;
        padding: 0.5em;

        background-image: url(../../assets/icons/trophy-icon.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;

        /* overflow: hidden;
        cursor: pointer; */
    }

    .fase-final-bloqueada{
        background-image: url(../../assets/icons/trophy-icon-locked.png);
    }


/* fim do progresso */

/* .grupo-principal{
    position: absolute;
    margin: auto;
    left: calc(50% - 9em);
    width: auto;
    padding: 5em;
} */


.botao-principal{
    background-color: #4C3CB4;
    width: 18em;
    height: 18em;
    padding: 2.5em;
    margin: auto;

    display : flex;
    margin: auto;
    margin-top: 2em;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    clip-path: circle(50% at 50% 50%);
    transform: rotate(45deg);

    -webkit-box-shadow:  0px 0px 10px 7px #000000;
    -moz-box-shadow:  0px 0px 10px 7px #000000;
    -ms-box-shadow:  0px 0px 10px 7px #000000;
    -o-box-shadow:  0px 0px 10px 7px #000000;
    box-shadow:  0px 0px 10px 7px #000000; 

    cursor: none;

    position: relative;
    left: -3em;
    /* left: 50%; */
}
 
.botao-cor{
    height: 45%;
    width: 45%;
    clip-path: circle(50% at 50% 50%);
    /* display: none; */

    box-shadow: 10px 4px 26px #000;
    transition: 0.2s;

}

.amarelo{
    background-color: #FFD166;
}

.azul{
    background-color: #118AB2;

}

.verde{
    background-color: #06D6A0;

}

.vermelho{
    background-color: #EF476F;
}

.destaque{
    transform: scale(5%);
    /* filter: brightness(150%); */
    transition: 0.2s;

    box-shadow: 1px 4px 10px darkcyan;
}