@media only screen and (max-width:425px){
    
    .interrogacao{
        position: absolute;
        font-size: 75px !important;
    }
    .game-nav{
        margin-top: 1%;
    }
    .nav-logo{
        height: 10vh;
        width: auto;

    }
    .voltar{
        margin-left: 4%;
    }
    .voltar p{
        display: none;
        /* color: #FFE5E5; */
    }
    .botao-principal{
        height: 235px;
        width: 235px;
        margin-top: 0;
        
        position: absolute;
        top: calc(50% - (235px / 2));
        left: calc(50% - (235px / 2));

    }
    .amarelo{
        width: 70px;
        height: 70px;
    }
    .vermelho{
        width: 70px;
        height: 70px;
    }
    .azul{
        width: 70px;
        height: 70px;
    }
    .verde{
        width: 70px;
        height: 70px;
    }
    .Game{
        background-image: url(../../assets/img/ilustracao-game-mobile.png);
        background-size: 150%;
        overflow: hidden;
        background-position-x: 0%;
    }
    .game-content{
        width: 100%;
    }
    
    .main{
        margin-top: 1em;
        flex-flow: column nowrap;
        align-items: center;
        height: 85%;
    }

    .fases{
        flex-flow: row;
    }

    .fase{
        height: 1.5em;
        width: 1.5em;
    }

    .fase-final{
        height: 3em;
        width: 3em;
    }

    .fase-group{
        display: flex;
        flex-flow: row-reverse;
    }

    .linha-progresso{
        height: 4px;
        width: 1.5em;
    }
    .status-game{
        color: #4C3CB4;
        overflow-y: hidden;
        font-size: 1.25em !important;
        width: 100%;
        height: unset;
        min-height: 5em;
        /* margin-top: 0.25em; */
        word-wrap: break-word;
    }

    #fase-tooltip{
        display: none !important;
    }

    
}